{{- $opSign := "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" -}}
{{- $sign := stat $opSign -}}
[core]
excludesfile = /Users/thomask33/.gitignore_global
editor = nvim

[user]
email = {{ .gitEmail | quote }}
name = Thomas Kosiewski
{{- if $sign }}
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFW/uF+WgwedP2hwAGyXWUT22QNYWWue7OBTYxehocAy
{{- end }}

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
{{- if $sign }}

[tag]
forceSignAnnotated = true
{{- end }}

[init]
templatedir = ~/.git_template
defaultBranch = main

[format]
signoff = true
{{- if $sign }}

[gpg]
program = gpg
format = ssh

[gpg "ssh"]
program = {{ $opSign }}
allowedSignersFile = ""

[commit]
gpgsign = true
{{- end }}

[core]
pager = hunk pager

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
tool = hunk

[difftool "hunk"]
cmd = hunk difftool "$LOCAL" "$REMOTE"

[difftool]
prompt = false

[push]
followTags = false
