token = "{{- (onepasswordDetailsFields "j643env6yu5kzdkfxnpszpeluy" "sjf7qbemzx337eunr7mgkj6sfq" "C44VHBHIONBQPN4I4PHW3I5Y74").credential.value }}" # The token used to create and modify PRs
default_remote = "origin"                          # The remote to push branches too and make PRs against
default_upstream = "main"                        # The branch of the remote to make PRs against

[submit]
branch_prefix = "thomaskosiewski"
use_indexed_branches = true
auto_create_branches = true
